.weather {
  &__search-list {
    list-style: none;
    text-align: center;
    @media screen and (min-width: 700px) {
      position: absolute;
      height: 400px;
      width: 400px;
      margin: 0;
      top: 55%;
      left: 50%;

      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  &__search-item {
    padding: 5px;
    margin: 5px;
    font-size: 24px;
    color: #313131;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    font-family: 'Bitter', serif;
    font-weight: 300;
    z-index: 2;
  }

  &__search-box {
    width: 100%;
    margin: 0 0 80px;
  }

  &__search-bar {
    display: block;
    width: 100%;
    padding: 7px;

    appearance: none;
    background: none;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px 10px 25px 25px;

    box-shadow: 0px 5px rgba(0, 0, 0, 0.1);

    color: #313131;
    font-size: 20px;
    font-family: 'Bitter', serif;
    font-weight: 600;

    transition: 0.4s ease-in-out;

    &::placeholder {
      font-family: serif;
      font-size: 24px;
      color: rgba(0, 0, 0, 0.9);
      letter-spacing: 3px;
      transition: 0.5 ease;
      padding: 0 15px;
      text-align: center;
    }

    &:focus {
      background-color: rgba(255, 255, 255, 0.7);
      padding: 20px;

      &::placeholder {
        color: rgba(0, 0, 0, 0);
      }
    }
  }
}

.autocomplete{
  &__loading {
    position: absolute;
    
    margin: 0;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    font-size: 42px;
  }
  &__list {
    position: static;
    text-align: center;
  }
}