@import '../../styles/variables/variables.scss';

.header {
  position: relative;

  &__navbar {
    display: flex;
    justify-content: space-around;

    background-color: #888;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    
    position: absolute;
    top: 0px;
    z-index: 2;

    @media screen and (min-width: 700px) {
      padding: 10px 200px;
    }
  }
}

.app {
  height: 100vh;
}
